{% extends 'base.html' %}
{% block content %}
<form action="/products" method="post">
    <label for="name">Product Name</label>
    <input type="text" name="name">
    <label for="description">Description</label>
    <input type="text" name="description">
    <label for="quantity">Starting Stock</label>
    <input type="number" name="quantity">
    <label for="purchase_price">Purchase Price</label>
    <input type="number" name="purchase_price" required min="0" value="0" step=".01">
    <label for="selling_price">Selling Price</label>
    <input type="number" name="selling_price" required min="0" value="0" step=".01">
    <label for="manufacturer_id">Manufacturer #</label>
    <input type="number" name="manufacturer_id">
    <label for="branch_id">Branch #</label>
</form>
<a href="/branches/{{id}}">Back to branch</a>

{% endblock content %}