{% extends 'base.html' %}
{% block content %}

<section class="viewfilter">
<form action="/branches/products" method = "POST">
    <label for="branch">View by branch</label>
    <select name="branch" id="branch">
        {% for branch in branches  %}
            <option value="{{branch.id}}">{{branch.location}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>

<form action="/manufacturers/products" method = "POST">
    <label for="manufacturers">View by Manufacturer</label>
    <select name="manufacturer" id="manufacturer">
        {% for manufacturer in manufacturers  %}
            {% if manufacturer.active == true %}
            <option value="{{manufacturer.id}}">{{manufacturer.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>
</section>

<table class="fixed_header">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product name</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Manufacturer</th>
            <th>Branch</th>
        </tr>
    </thead> 
    <tbody>   
        {% for product in products  %}
        <tr>
            <td><a href="/products/{{product.id}}">{{product.id}}</a></td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.quantity}}</td>
            {% for manufacturer in manufacturers  %}
                {% if  product.manufacturer_id == manufacturer.id%}
                <td>{{manufacturer.name}}</td>        
                {% endif %}
            {% endfor %}
            {% for branch in branches %}
                {% if product.branch_id == branch.id %}
                <td>{{branch.location}}</td>        
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>    
</table>

<a href="products/new">Create new Product</a>
<a href="/home">back</a>
    
{% endblock %}