{% extends 'base.html' %}
{% block content %}

    <table class="fixed_header">
        <thead>
            <tr>
                <th>Branch ID</th>
                <th>Branch name</th>
                <th>Manager</th>
            </tr>
        </thead>
        <tbody>
            {% for branch in branches  %}
            <tr>
                    <td><a href="/branches/{{branch.id}}">{{branch.id}}</a></td>
                    <td>{{branch.location}}</td>
                    <td>{{branch.manager}}</td>
            </tr>
            {% endfor %}
        </tbody>            
    </table>
   
    <a href="branches/new">Create Branch</a>
    <a href="/home">Back to main</a>

{% endblock %}