{% extends 'base.html' %}
{% block content %}

    <table class="fixed_header branchtable">
        <thead>
            <tr>
                <th>Edit Branch</th>
                <th>Branch name</th>
                <th>Manager</th>
            </tr>
        </thead>
        <tbody>
            {% for branch in branches  %}
            <tr>
                    <td>
                        <form action="/branches/{{branch.id}}/edit">
                            <button>Edit</button>
                        </form>
                    </td>
                    <td>{{branch.location}}</td>
                    <td>{{branch.manager}}</td>
            </tr>
            {% endfor %}
        </tbody>            
    </table>
   
    <section class="main_section_options branchoptions">
    <a href="branches/new">Create Branch</a>
    <a href="/home">Go Back</a>
    </section>    
{% endblock %}