{% extends 'base.html' %}
{% block content %}
<table class="fixed_header">
    <thead>
        <tr>
            <th>Manufacturer id</th>
            <th>Manufacturer Name</th>
            <th>Type</th>
            <th>Active</th>
        </tr>
    </thead> 
    <tbody>   
        {% for manufacturer in manufacturers  %}
        <tr>
            <td><a href="/manufacturers/{{manufacturer.id}}">{{manufacturer.id}}</a></td>
            <td>{{manufacturer.name}}</td>
            <td>{{manufacturer.type}}</td>
            <td>
                {% if manufacturer.active == true %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>    
</table>

<a href="manufacturers/new">Create Manufacturer</a>
<a href="/home">back</a>
{% endblock %}