{% extends 'base.html' %}
{% block content %}
<section class="viewitem">
    <table>
        <thead>
            <tr>
                <th>Manufacturer id</th>
                <th>Manufacturer Name</th>
                <th>Type</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Contact Person</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tbody>   
                <tr>
                    <td>{{manufacturer.id}}</td>
                    <td>{{manufacturer.name}}</td>
                    <td>{{manufacturer.type}}</td>
                    <td>{{manufacturer.address}}</td>
                    <td>{{manufacturer.telephone}}</td>
                    <td>{{manufacturer.email}}</td>
                    <td>{{manufacturer.contact_person}}</td>
                    <td>
                        {% if manufacturer.active == true %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </td>
                </tr>
            </tbody> 
        </tbody>
    </table>
</section>        
<section class="viewbuttons">
    <form action="/manufacturers/{{manufacturer.id}}/edit">
    <button>Edit</button>
    </form>
    <form action="/manufacturers/delete/{{manufacturer.id}}" method="POST">
    <button value="{{manufacturer.id}}">Delete</button>
    </form>
</section>
<a href="/manufacturers">back</a>
{% endblock %}