<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <img id="dmlogo" src="../../static/images/dunder-mifflin-logo.png" alt="DN Logo">
        <div class="navbar">
            <a href="/home">Home</a>
            <div class="dropdown">
              <button class="dropbtn">Links
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="/products">Products</a>
                <a href="/branches">Branches</a>
                <a href="/manufacturers">Manufacturers</a>
                <a href="/login">Dashboard</a>
                <a href="/logger">Logger</a>
              </div>
            </div>
          </div>
    </header>
    <section class="maincontainer">
    {% block content %}
    {% endblock %}
    </section>         
    <footer>
        ©MICHAEL SCOTT INVENTORY MANAGEMENT SYSTEM FOR GREAT MANAGERS
    </footer>
  </body>
</html>