{% extends 'base.html' %}
{% block content %}

<main class="maincontainer">
    <section class="home">
        <div>
            <form action="/products" name="products">
                <button class="button" name="products">View/Edit Products</button>
            </form>
        </div>
        <div>
            <form action="/manufacturers" name="manufacturers">
                <button class="button" name="manufacturers"> View/Edit Manufacturers</button>
            </form>
        </div>
        <div>
            <form action="/branches" name="branches">
                <button class="button" name="branches">View/Edit Branches</button>
            </form>
        </div>
        <div>
            <form action="/login" name="dashboard">
                <button class="button" name="dashboard">View Dashboard</button>
            </form>
        </div>
        <div>
            <form action="/logger" name="logger">
                <button class="button" name="logger">Logger</button>
            </form>
        </div>
        <div>
            <form action="/exit" name="exit">
                <button class="button" name="exit">Exit</button>
            </form>
        </div>
    </section>    
</main>
{% endblock%}