{% extends 'base.html' %}
{% block content %}

<!-- <main class="maincontainer"> -->
    <section class="home">
        <div>
            <form action="/products">
                <button class="button">Manage Products</button>
            </form>
        </div>
        <div>
            <form action="/manufacturers">
                <button class="button"> Manage Manufacturers</button>
            </form>
        </div>
        <div>
            <form action="/branches">
                <button class="button">Manage Branches</button>
            </form>
        </div>
        <div>
            <form action="/login">
                <button class="button">View Dashboard</button>
            </form>
        </div>
        <div>
            <form action="/logger">
                <button class="button">Logger</button>
            </form>
        </div>
        <div>
            <form action="/ms">
                <button class="button">Exit</button>
            </form>
        </div>
    </section>    
<!-- </main> -->
{% endblock%}