{% extends 'base.html'  %}
{% block content %}    

<section class="indexlogin">
    <form class="indexform" action="/branches/branch.id" method="POST">
        <label for="managers">Select User</label>
        <select name="managers" id="managers">
            {% for branch in branches %}
                <option value="{{branch.manager}}">{{branch.manager}}</option>    
            {% endfor %}
        </select>
        <label for="password">Enter Password</label>
        <input type="text" placeholder="Password" required>
        <input id="indexinput" type="submit" value="Submit">
    </form>
</section>

{% endblock %}