{% extends 'base.html' %}
{% block content %}

<section class="indexlogin">
    <form class="indexform" action="/dashboard" method="POST">
        <label for="location">Select Branch</label>
        <select name="location" id="location">
            <option disabled selected value> -- Select Branch -- </option>
            {% for branch in branches %}
                <option value="{{branch.id}}">{{branch.location}}</option>    
            {% endfor %}
        </select>
        <label for="password">Enter Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <input id="indexinput" type="submit" value="Submit">
    </form>
</section>

{% endblock %}