{% extends 'base.html' %}
{% block content %}
<table class="fixed_header">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Position</th>
            <th>Add Sale</th>
            <th>View details</th>
        </tr>
    </thead> 
    <tbody>   
        {% for employee in employees  %}
        <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.position}}</td>
            <td>
                <form action="/logger/{{employee.branch_id}}">
                    <button>+</button>
                </form>
            </td>
            <td>
                <form action="/logger/{{employee.id}}/view">
                    <button>View</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>    
</table>

<a href="/home">back</a>
    
{% endblock %}