{% extends 'base.html' %}
{% block content %}

    <table class="fixed_header">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Amount Sold</th>
                <th>Purchase Price</th>
                <th>Selling Price</th>
                <th>Turnover</th>
                <th>Profit</th>
                <!-- <th>Net Profit</th> -->
            </tr>
        </thead>
        <tbody>
        {% for product in inventory  %}
            <tr>    
                <td>{{product.name}}</td>
                {% for sale in sales  %}
                {% if sale.product_id == product.id %}
                <td>{{sale.quantity}}</td>
                {% endif %}      
                {% endfor %}
                <td>{{product.purchase_price}}</td>
                <td>{{product.selling_price}}</td>
                {% for sale in sales  %}
                {% if sale.product_id == product.id %}
                <td>{{(sale.quantity * product.selling_price)|round(1,'floor')}}</td>
                <td>{{((product.selling_price - product.purchase_price) * sale.quantity)|round(1,'floor')}}</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %} 
        </tbody>   
    </table>
   
    <a href="/home">Back to main</a>



{% endblock %}